@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    max-width: 1600px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.primary-btn {
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    background-color: #f15b22;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.half-width {
    width: 50%;
}

.green {
    color: green;
}

main {
    max-width: 1140px;
    margin: 50px auto;
}
